@font-face {
    font-family: "Font";
    src: url("../fonts/font.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(232, 232, 232);
    background: linear-gradient(153deg, rgba(232, 232, 232, 1) 7%, rgba(195, 195, 195, 1) 47%, rgba(232, 232, 232, 1) 82%);
    font-family: "Font";
}


.Options{
    height: 100%;
}

.OptionsButtons {
    position: absolute;
    top: 0px;
    right: 0px;
}

.MenuButtons {
    background: none;
    border: none;
    font-size: 40px;
    font-family: "Font";
}

#Play {
    margin-top: 0%;
}

#Continue {
    margin-top: 10%;
}

#Load {
    margin-top: 10%;
}

#Exit {
    margin-top: 10%;
}