#LevelOptions
{
    height: 100%;
    width: 34%;
    background-color: rgb(159, 167, 212);
}

#Options
{
    font-size: 50px;
    margin-left: 35%;
}

.options_icon{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 15px;
}

#soundoff
{
    background-color: rgb(159, 167, 212);
    z-index: 100;
}

#soundon
{
    z-index: 100;
    background-color:  rgb(113, 182, 113);
}

#musicoff
{
    z-index: 100;
    background-color:  rgb(113, 182, 113);
}

#musicon
{
    z-index: 100;
    background-color: rgb(159, 167, 212);
}

#day
{
    z-index: 100;
    background-color:  rgb(113, 182, 113);
}

#night
{
    z-index: 100;
    background-color: rgb(159, 167, 212);
}

#tip{
    z-index: 100;
    background-color:  rgb(113, 182, 113);
    position: absolute;
    top: 0px;
    right: 0px;
}

#options_tip_box{
    border: 5px red solid;
    position: absolute;
    width: 150px;
    height: 75px;
}
.options_arrow{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 300px;
    position: absolute;
}

.options_tip_text{
    position: absolute;
    margin-top: 25px;
    margin-left: 370px;
    font-size: 30px;
    font-weight: 1000;
    color: green;
}

#soundslider{
    height: 60px;
}

#musicslider{
    height: 60px;
}

#brightness_slider{
    height: 60px;
}

#load{
    position: absolute;
    width: 60px;
    background-color: rgb(113, 182, 113);
    top: 80px;
    right: 0px;
}

#save{
    position: absolute;
    width: 60px;
    background-color: rgb(113, 182, 113);
    top: 100px;
    right: 0px;
}

.brightness_icon{
    transform: rotate(180deg);
}